Heroes Of Pymoli Task

In [ ]:
# Dependencies and Setup

import numpy as np
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchases_pd = pd.read_csv(file_to_load)

#show first 5 records of dataframe
#purchases_pd.head()

In [2]:
#Total number of players

grouped_BY_Players_pd = purchases_pd.groupby(["SN"])
print(grouped_BY_Players_pd) 

#grouped_BY_Players_pd.count().head(10)
                                  
#Total_Players = Total_BY_Players.count()
#Total_Players

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000021A3C6B1940>

# Calculate Statistics:

In [3]:
#Total number of players
Player_total = grouped_BY_Players_pd["SN"].sum()
Player_total.count()

576

In [4]:
# Using GroupBy in order to separate the data into fields according to "state" values
grouped_item_pd = purchases_pd.groupby(['Item ID'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_item_pd)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000021A3C8A2B00>

In [5]:
# Total number of unique items
item_total_pd = purchases_pd["Item ID"].value_counts()
unique_item_total = item_total_pd.count()
unique_item_total

183

In [6]:
#Average purchase price

Avg_Price = purchases_pd["Price"].mean()
Avg_Price

3.050987179487176

In [7]:
#Total number of purchases
Total_Purchases = purchases_pd["Purchase ID"].count()
Total_Purchases

780

In [8]:
#calculate total revenue
Total_revenue = purchases_pd["Price"].sum()
Total_revenue

2379.77

In [9]:
# Creating a new DataFrame using stats, but first make a dictionary
summary_table = ({"Number of Unique Items": unique_item_total,
                                    "Average Price": Avg_Price,
                              "Total Purchases": Total_Purchases,
                              "Total Revenue": Total_revenue})
summary_table

{'Number of Unique Items': 183,
 'Average Price': 3.050987179487176,
 'Total Purchases': 780,
 'Total Revenue': 2379.77}

In [10]:
#create dataframe from dictionary
pd.DataFrame.from_dict(summary_table, orient = 'index')

                                  0
Number of Unique Items   183.000000
Average Price              3.050987
Total Purchases          780.000000
Total Revenue           2379.770000

# Gender Analysis

In [11]:
#Gender demographics

#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

#grouped_gender = grouped_BY_Players_pd["Gender".count


#grouped_gender

#gender_count = grouped_gender_df["Gender"].count()
#gender_count

#gender_count = grouped_gender_df["Gender"].count()
#gender_count


sortforgen_pd = purchases_pd.groupby(['SN','Gender']).first()
print(sortforgen_pd)

sortforgen_pd.count()

#Total_count = gender_df["Gender"].count()
#Total_count

                        Purchase ID  Age  Item ID  \
SN              Gender
Adairialis76    Male            467   16      123
Adastirin33     Female          142   35      175
Aeda94          Male            388   17      128
Aela59          Male             28   21      119
Aelaria33       Male            630   23      171
Aelastirin39    Male            218   23       76
Aelidru27       Male            705   22      183
Aelin32         Male             52   20       60
Aelly27         Male             43   24      116
Aellynun67      Male            286   25      153
Aellyria80      Male            746   23      159
Aelollo59       Male            203   33        3
Aenarap34       Male            183   21       15
Aeral43         Male            263   24       78
Aeral68         Male            674   43       77
Aeral97         Male            167   23      157
Aeralria27      Male             32   10      133
Aeralstical35   Male            583   20       49
Aeri84          Male            303   24       71
Aerillorin70    Male            381   16       83
Aerithllora36   Female          274   29       82
Aerithnucal56   Male            324   15      154
Aerithnuphos61  Male            517   39      128
Aerithriaphos45 Male             40   20      143
Aerithriaphos46 Male            236   16      107
Aesri53         Male            541   31      161
Aesty53         Male            124   21      150
Aestysu37       Male            309   25      170
Aesur96         Male            468   23       30
Aesurstilis64   Male            405   25       70
...                             ...  ...      ...
Undosia27       Male            229   17       72
Undosian34      Male             90   21       60
Undotesta33     Male            704   18       95
Wailin72        Female          283   21        9
Yadacal26       Male            337   15       17
Yadaisuir65     Male            625   20      133
Yadam35         Male            553   28        2
Yadanu52        Male             60   34       44
Yadaphos40      Male             62   30      178
Yalae81         Male              5   22       81
Yalaeria91      Male            681   33       28
Yaliru88        Male             59   19      105
Yalo85          Male            383   34       11
Yalostiphos68   Male            518   29      160
Yana46          Female          280   20       16
Yarithllodeu72  Male            364   22       88
Yarithrgue83    Male            279   20      163
Yarithrin84     Female          698   30       58
Yarithsurgue62  Male            231   26      139
Yarolwen77      Male            696   30       87
Yasrisu92       Male             46   27      102
Yastyriaphos75  Male            340   22       41
Yasur35         Male            257   26      175
Yasur85         Male            514   21       21
Yathecal72      Male            777   20       67
Yathecal82      Female          125   20       62
Yathedeu43      Male             93   22       88
Yoishirrala98   Female          572   17      145
Zhisrisu83      Male             54   10       25
Zontibe81       Male             17   21      161

                                                           Item Name  Price
SN              Gender
Adairialis76    Male                               Twilight's Carver   2.28
Adastirin33     Female                    Woeful Adamantite Claymore   4.48
Aeda94          Male                   Blazeguard, Reach of Eternity   4.91
Aela59          Male       Stormbringer, Dark Blade of Ending Misery   4.32
Aelaria33       Male                                         Scalpel   1.79
Aelastirin39    Male                        Haunted Bronzed Bludgeon   3.15
Aelidru27       Male                             Dragon's Greatsword   1.09
Aelin32         Male                                            Wolf   3.54
Aelly27         Male                         Renewed Skeletal Katana   4.18
Aellynun67      Male                                 Mercenary Sabre   3.74
Aellyria80      Male               Oathbreaker, Spellblade of Trials   3.08
Aelollo59       Male                                    Phantomlight   2.49
Aenarap34       Male                            Soul Infused Crystal   2.96
Aeral43         Male                      Glimmer, Ender of the Moon   4.40
Aeral68         Male                      Piety, Guardian of Riddles   4.00
Aeral97         Male                         Spada, Etcher of Hatred   4.80
Aeralria27      Male                                Faith's Scimitar   4.09
Aeralstical35   Male                The Oculus, Token of Lost Worlds   2.96
Aeri84          Male                                          Demise   1.61
Aerillorin70    Male                                      Lifebender   3.33
Aerithllora36   Female                                       Nirvana   4.90
Aerithnucal56   Male                                    Feral Katana   4.40
Aerithnuphos61  Male                   Blazeguard, Reach of Eternity   4.91
Aerithriaphos45 Male                               Frenzied Scimitar   1.56
Aerithriaphos46 Male                       Splitter, Foe Of Subtlety   2.18
Aesri53         Male                                          Devine   1.76
Aesty53         Male                                       Deathraze   2.85
Aestysu37       Male                                     Shadowsteel   3.97
Aesur96         Male                                     Stormcaller   2.21
Aesurstilis64   Male                                      Hope's End   1.03
...                                                              ...    ...
Undosia27       Male                                   Winter's Bite   3.77
Undosian34      Male                                            Wolf   3.54
Undotesta33     Male                           Singed Onyx Warscythe   4.74
Wailin72        Female             Thorn, Conqueror of the Corrupted   2.73
Yadacal26       Male                    Lazarus, Terror of the Earth   1.70
Yadaisuir65     Male                                Faith's Scimitar   4.09
Yadam35         Male                                         Verdict   2.48
Yadanu52        Male                           Bonecarvin Battle Axe   2.38
Yadaphos40      Male    Oathbreaker, Last Hope of the Breaking Storm   4.23
Yalae81         Male                                       Dreamkiss   3.61
Yalaeria91      Male                Flux, Destroyer of Due Diligence   1.06
Yaliru88        Male                    Hailstorm Shadowsteel Scythe   3.03
Yalo85          Male                                       Brimstone   3.65
Yalostiphos68   Male                                      Azurewrath   4.40
Yana46          Female                               Restored Bauble   3.55
Yarithllodeu72  Male                Emberling, Defender of Delusions   3.75
Yarithrgue83    Male                            Thunderfury Scimitar   3.45
Yarithrin84     Female             Freak's Bite, Favor of Holy Might   4.14
Yarithsurgue62  Male                         Mercy, Katana of Dismay   4.94
Yarolwen77      Male                        Deluge, Edge of the West   4.43
Yasrisu92       Male                                         Avenger   3.44
Yastyriaphos75  Male                                           Orbit   4.75
Yasur35         Male                      Woeful Adamantite Claymore   4.48
Yasur85         Male                                       Souleater   1.10
Yathecal72      Male           Celeste, Incarnation of the Corrupted   3.46
Yathecal82      Female                                   Piece Maker   1.87
Yathedeu43      Male                Emberling, Defender of Delusions   3.75
Yoishirrala98   Female                          Fiery Glass Crusader   4.58
Zhisrisu83      Male                                       Hero Cane   4.35
Zontibe81       Male                                          Devine   1.76

[576 rows x 5 columns]

Purchase ID    576
Age            576
Item ID        576
Item Name      576
Price          576
dtype: int64

In [12]:
Total_gender = sortforgen_pd.groupby(['Gender']).size().to_frame('Total Count').reset_index()
#Total_gender

In [13]:
#Create dataframe
Gender_sum = Total_gender["Total Count"].sum()
Gender_sum

Total_gender["Percentage of Players"] = Total_gender["Total Count"]/Gender_sum * 100
Total_gender

                  Gender  Total Count  Percentage of Players
0                 Female           81              14.062500
1                   Male          484              84.027778
2  Other / Non-Disclosed           11               1.909722

In [14]:
#Purchasing Analysis, Gender

#Purchase count
Gender_analysis_pd = purchases_pd.groupby(['Gender'])
print(Gender_analysis_pd)

Purchase_g_count = Gender_analysis_pd["Purchase ID"].count()
#Purchase_g_count

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000021A3C902C18>

In [15]:
#Average Purchase Price
Average_g_price = Gender_analysis_pd["Price"].mean()
#Average_g_price

In [16]:
#Total Purchase Value
Total_g_price = Gender_analysis_pd["Price"].sum()
#Total_g_price

In [17]:
#Average Purchase Total Per Person By Gender

dfSNgen_pd = purchases_pd.groupby(['SN','Gender'], as_index=False).Price.sum()
#dfSNgen_pd.head()

In [18]:
dfgender_total = dfSNgen_pd.groupby(['Gender']).Price.mean()
#dfgender_total

In [19]:
gendersummary_table_df = ({"Purchase Count": Purchase_g_count,
                                    "Average Price": Average_g_price,
                              "Total Purchase Value": Total_g_price,
                              "Avg Total Purchase Per Person": dfgender_total})
#gendersummary_table_df

In [20]:
#Create dataframe
pd.DataFrame.from_dict(gendersummary_table_df, orient = 'index')

                                   Female         Male  Other / Non-Disclosed
Average Price                    3.203009     3.017853               3.346000
Avg Total Purchase Per Person    4.468395     4.065372               4.562727
Purchase Count                 113.000000   652.000000              15.000000
Total Purchase Value           361.940000  1967.640000              50.190000

# Age Analysis

In [21]:
#The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

In [22]:
# Create the bins in which Data will be held

#bins = [0, 10, 14, 19, 24, 29, 34, 39, 40]
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
# Create the names for the four bins
group_names = ["Lt 10", "10-14", "15-19", "20-24", "25-29", "29-34", "35-39", "gt 40"]

In [23]:
purchases_pd["Age Categories"] = pd.cut(purchases_pd["Age"], bins, labels=group_names)
#purchases_pd.head()

In [24]:
sortforage_pd = purchases_pd.groupby(['Age Categories'])
print(sortforage_pd)

ByAge_purchasecount = sortforage_pd['Purchase ID'].count()
#ByAge_purchasecount

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000021A3C968CF8>

In [25]:
#Average Purchase Price
Average_A_price = sortforage_pd["Price"].mean()
#Average_A_price

In [26]:
#Total Purchase Value
Total_A_price = sortforage_pd["Price"].sum()
#Total_A_price

In [27]:
#Average Purchase Total per Person by Age Group
dfSNage_pd = purchases_pd.groupby(['SN','Age Categories'], as_index=False).Price.sum()
#dfSNage_pd.head()

In [28]:
dfage_pd = dfSNage_pd.groupby(['Age Categories']).Price.mean()
#dfage_pd

In [29]:
agesummary_table_df = ({"Purchase Count": ByAge_purchasecount,
                                    "Average Price": Average_A_price,
                              "Total Purchase Value": Total_A_price,
                              "Avg Total Purchase Per Person": dfage_pd})
#agesummary_table_df

In [30]:
pd.DataFrame.from_dict(agesummary_table_df, orient = 'index')

,Lt 10,10-14,15-19,20-24,25-29,29-34,35-39,gt 40
Average Price,3.353478,2.956429,3.035956,3.052219,2.900990,2.931507,3.601707,2.941538
Avg Total Purchase Per Person,4.537059,3.762727,3.858785,4.318062,3.805195,4.115385,4.763548,3.186667
Purchase Count,23.000000,28.000000,136.000000,365.000000,101.000000,73.000000,41.000000,13.000000
Total Purchase Value,77.130000,82.780000,412.890000,1114.060000,293.000000,214.000000,147.670000,38.240000

# Various Analyses

In [31]:
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

In [32]:
#group by SN
dfSN_pd = purchases_pd.groupby(['SN'], as_index=False).Price.sum()
#dfSN_pd.head()

In [33]:
SNlarge_pd = dfSN_pd.nlargest(5, "Price", keep='first')
#SNlarge_pd

In [34]:
Total_Purchases1_pd = purchases_pd.groupby(['SN'], as_index=False).count()
#Total_Purchases1_pd.head()

In [35]:
merge_topspend1_pd = pd.merge(SNlarge_pd, Total_Purchases1_pd, on="SN")
#merge_topspend1_pd

In [36]:
Price_Purchases1_pd = purchases_pd.groupby(['SN'], as_index=False).Price.mean()
#Price_Purchases1_pd.head()

In [37]:
merge_topspend2_pd = pd.merge(merge_topspend1_pd, Price_Purchases1_pd, on="SN")
#merge_topspend2_pd

In [38]:
TopSpenders1_pd = merge_topspend2_pd.drop(columns=['Age', 'Gender', 'Item ID', 'Item Name', 'Price_y', 'Age Categories'])
#TopSpenders1_pd

In [39]:
TopSpenders2_pd = TopSpenders1_pd.rename(columns={"Price_x": "Total Purchase Value", "Purchase ID": "Purchase Count", "Price": "Average Purchase Price"})
TopSpenders2_pd

            SN  Total Purchase Value  Purchase Count  Average Purchase Price
0    Lisosia93                 18.96               5                3.792000
1  Idastidru52                 15.45               4                3.862500
2   Chamjask73                 13.83               3                4.610000
3       Iral74                 13.62               4                3.405000
4  Iskadarya95                 13.10               3                4.366667

In [40]:
#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [45]:
dfSNitem_pd = purchases_pd.groupby(['Item Name', 'Item ID'], as_index=False).count()
#dfSNitem_pd.head()

In [75]:
Purchasecountlarge_pd = dfSNitem_pd.nlargest(5, "Purchase ID", keep='last')
#Purchasecountlarge_pd

In [76]:
dfitempr_pd = purchases_pd.groupby(['Item Name', 'Item ID'], as_index=False).Price.sum()
#dfitempr_pd.head()

In [55]:
#dfprbase_pd = purchases_pd["Price"]
#dfprbase_pd.head()

In [74]:
merge_pop1_pd = pd.merge(dfitempr_pd, Purchasecountlarge_pd, on="Item ID")
#merge_pop1_pd

In [61]:
merge_pop2_pd = merge_pop1_pd.drop(columns=['Item Name_y', 'SN', 'Age', 'Gender', 'Price_y', 'Age Categories'])
merge_pop3_pd = merge_pop2_pd.rename(columns={"Item Name_x": "Item Name", "Purchase ID": "Purchase Count", "Price_x": "Total Purchase Value"})

#merge_pop3_pd

merge_pop3_pd["Item Price"] = merge_pop3_pd["Total Purchase Value"]/merge_pop3_pd["Purchase Count"]
merge_pop3_pd

,Item Name,Item ID,Total Purchase Value,Purchase Count,Item Price
0,"Extraction, Quickblade Of Trembling Hands",108,31.77,9,3.53
1,Fiery Glass Crusader,145,41.22,9,4.58
2,Nirvana,82,44.10,9,4.90
3,"Oathbreaker, Last Hope of the Breaking Storm",178,50.76,12,4.23
4,Wolf,60,28.32,8,3.54

In [69]:
#Identify the 5 most profitable items by total purchase value, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [70]:
dfitem_pd = purchases_pd.groupby(['Item Name', 'Item ID'], as_index=False).Price.sum()
#dfitem_pd.head()

In [71]:
itemprofit_pd = dfitem_pd.nlargest(5, "Price", keep='first')
#itemprofit_pd

itemprofit1_pd = itemprofit_pd.rename(columns={"Price": "Total Purchase Value"})
#itemprofit1_pd

In [72]:
merge_prof1_pd = pd.merge(dfSNitem_pd, itemprofit1_pd, on="Item ID")
#merge_prof1_pd

In [80]:
merge_prof2_pd = merge_prof1_pd.drop(columns=['Item Name_y', 'SN', 'Age', 'Gender', 'Price', 'Age Categories', 'Item Name_y'])
merge_prof3_pd = merge_prof2_pd.rename(columns={"Item Name_x": "Item Name", "Purchase ID": "Purchase Count"})
merge_prof3_pd["Item Price"] = merge_prof3_pd["Total Purchase Value"]/merge_prof3_pd["Purchase Count"]
merge_prof3_pd

,Item Name,Item ID,Purchase Count,Total Purchase Value,Item Price
0,Fiery Glass Crusader,145,9,41.22,4.58
1,Final Critic,92,8,39.04,4.88
2,Nirvana,82,9,44.10,4.90
3,"Oathbreaker, Last Hope of the Breaking Storm",178,12,50.76,4.23
4,Singed Scalpel,103,8,34.80,4.35

#3 Observable Trends

1) Most purchases are made for ages 20-24 ($1114 for total purchase value) and most customers are male (about 84%).
2) Purchase count wasn't always consistent for total purchase value, but the item with the highest purchase value also had
the highest purchase count (Oathbreaker.)
3) Males spent and purchased more than females. However, the average price (not total) was higher for females ($4.47 vs. $4.07)